PORT=5000
MONGODB_URI=mongodb+srv://nazim-enterprise:QvLSc6aVsKGC6X3E@cluster0.knw8z6m.mongodb.net/?appName=Cluster0
JWT_SECRET=CHANGE_THIS_TO_A_LONG_RANDOM_SECRET
JWT_EXPIRES_IN=7d

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_FOLDER=absher/employees

CLIENT_URL=http://localhost:5173